<div class="col">
  <div class="card h-100">
      {% if article.thumbnail %}
      <img src="{{ article.thumbnail }}" class="card-img-top" alt="Article thumbnail">
      {% endif %}
      <div class="card-body">
          <h5 class="card-title">{{ article.title }}</h5>
          <a href="{{ article.url }}" target="_blank" class="card-link">{{ article.domain }}</a>
      </div>
      <div class="card-footer bg-transparent">
          <div class="dropdown">
              <button class="btn btn-sm btn-secondary dropdown-toggle" 
                      type="button" 
                      data-bs-toggle="dropdown">
                  Actions
              </button>
              <ul class="dropdown-menu">
                  <li>
                      <a class="dropdown-item text-danger" 
                         hx-delete="/article/{{ article.id }}"
                         hx-target="closest .col"
                         hx-swap="outerHTML">
                          Delete
                      </a>
                  </li>
                  <li><a class="dropdown-item" href="/article/{{ article.id }}">View Details</a></li>
              </ul>
          </div>
      </div>
  </div>
</div>